# Root dependencies
node_modules/

# Backend
backend/node_modules/
backend/.env

# Frontend
frontend/node_modules/
frontend/.env

# Build folders
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db